# RStudio files and folders
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Output
/*.html
/*.pdf
/*.tex
# Intermediate files
/*.aux
/*.log
/*.toc
# Working folders
/*_files/
/*_cache/

# Template (copied from _extensions)
/stylish_article.cls

